* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#root {
    display: flex;
    justify-content: center;
    background-color: #457b9d;
}

.App {
    width: 800px;
    height: 100vh;
    
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    border: 1px solid #1d3557;
    border-radius: 5px;
    margin: 0 15px;
    margin-top: 15px;
    transition: .3s;
    background-color: white;
      /* a8dadc*/
}

.post:hover {
    box-shadow: 5px 5px 15px #1d3557;
    transform: scale(1.02);
}

.post__button {
    background-color: #f8c3c9;
    border: 3px solid #e63946;
    color: #e63946;
    border-radius: 5px;
    height: 25px;
    padding: 0 10px;
    cursor: pointer;
    transition: .3s;
}

.post__button:hover {
    background-color: #e63946;
    color: white;
}