* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    font-family: Sans-Serif;
    font-size: .98em;
}

#root {
    display: flex;
    justify-content: center;
    background-color: #457b9d;
}

.list-title {
    font-size: 2em;
    text-align: center;
    padding: 15px 0;
}

.App {
    width: 800px;
    height: 100%;
    min-height: 100vh;
    
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    border: 1px solid #1d3557;
    border-radius: 5px;
    margin: 0 15px;
    margin-top: 15px;
    transition: .3s;
    background-color: white;
      /* a8dadc*/
}

.post:hover {
    box-shadow: 5px 5px 15px #1d3557;
    border: 1px dashed;
}
